header {
	background-image: url("images/background legno pregiato.jpg");
	opacity: 0.7;
	background-size: cover;
	background-repeat: no repeat;
	width: 100%;
	height: 60px;
	border-radius: 20px;
	-webkit-box-shadow: -6px 5px 15px 5px #9C9811; 
	box-shadow: -6px 5px 15px 5px #9C9811;
	}
.bottone {
	font-size: 15px;
	float: right;
	text-decoration: none;
	padding: auto;
	margin-top:20px;
	margin-right:5px;
	text-align:center;
	border: 1px solid black;
	border-radius: 5px;
	color: black;
	background-color: #9C9811;
}
body {
	background-image: url("images/background legno.jpg");
	background-attachment: scroll;
	background-size: cover;
	background-repeat: no repeat;
	
  }

#titolo {
	color: rgb(14, 255, 6);
	font: serif;
	text-align: center;
	letter-spacing: 5px;
	font: 40px Luminari, fantasy;
}
#primobox{
	display:inline-block;
	background-color: rgb(38, 203, 71, 0.5);
	width:20%;
}
#secondobox{
	letter-spacing: 5px;
	display:inline-block;
	background-color: rgb(38, 203, 71, 0.5);
	width:20%;
}
#terzobox{
	letter-spacing: 5px;
	display:inline-block;
	background-color: rgb(38, 203, 71, 0.5);
	width:20%;
}
#quartobox{
	letter-spacing: 5px;
	display:inline-block;
	background-color: rgb(38, 203, 71, 0.5);
	width:20%;
}
.Block{
	margin: 6px;
	padding: 15px;
	width: 25%;
	height: 2%;
	border-style: groove;
	border-color: black;
	-webkit-box-shadow: -6px 5px 15px 5px #9C9811; 
	box-shadow: -6px 5px 15px 5px #9C9811;
	font: 20px Luminari, fantasy;
}
.Block a{
	text-decoration: none;
	color: black;
}
.Block a:hover{
	color: yellow;
	font-size:25px;
}

.colonna a{
	text-decoration: none;
	color: black;
}
.colonna a:hover{
	color:yellow;
}
.colonna img:hover{
	width:80px;
}

.Boxdestra h1{
	text-align: center;
	font: 30px Luminari, fantasy;
}
.Boxdestra img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}
.Boxdestra h5{
	margin-left: 15px;
}

.Secondaparte {
	display: flex;
	justify-content: space-between;
}

.colonna, .Boxdestra{
	border: 1px solid #fff;
	background-color: rgb(38, 203, 71, 0.5);
	height: auto;
	flex: 1;
	font-size: 17px;
	font: 20px Luminari,
	fantasy;
	border-style: solid;
	border-color: black;
}

.primo {
	background-color: rgb(38, 203, 71, 0.5);
	flex: initial;
	width: 25%;
}

.secondo {
	background-color: rgb(38, 203, 71, 0.5);
	flex: initial;
	width: 75%;
}